<nav class="navbar">
  <div class="nav-left">
    <h1>Members-Only</h1>
    <p>
      Welcome to Members-Only, become a member and respond the secret question
      to know who send the messages!
    </p>
  </div>
  <div class="nav-right">
    <a href="/login">Login</a>
    <a href="/sign-up">Sign up</a>
  </div>
</nav>
