<div class="new-msg-container">
  <form id="new-msg-form" class="new-msg-form" action="/message/new" method="post">
    <input type="text" class="new-msg-input" name="new_message" id="new_message" />
    <button type="submit" class="blue-btn">Send</button>
  </form>
</div>
