<!DOCTYPE html>
<html>
  <head>
    <title>Members-Only</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <div class="msg-board">
      <div class="msg-card">
        <p>User:</p>
        <p>Message:</p>
        <p>Date: </p>
    </div>
    <% if(locals.user && locals.user.membership_status) { %>
      <%- include('partials/newMessage.ejs')%>
    <%}%>
    </div>
  </body>
</html>
