<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title></title>
  </head>
  <body>
    <div class="form-container">
      <form id="question-form" class="form-standard" action="/secret-question" method="POST">
        <h1 class="text-center">What is the name of Ron Weasley's pet rat?</h1>
        <input id="secret_code" name="secret_code" type="text" />
        <% if(locals.errors) { %>          
            <span class="error-msg"><%= errors[0].msg %></span>
        <% } %>
        <button type="submit">Send</button>
        <strong class="text-center">Or Pedro Pettigrew in a rat form...</strong>
      </form>
    </div>
  </body>
</html>
