<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title></title>
  </head>
  <body>
    <div class="form-container">
      <form id="signup form" action="/sign-up" method="POST">
        <h1 class="text-center">Sign Up</h1>
        <label for="first_name">First name: </label>
        <input
          id="first_name"
          name="first_name"
          placeholder="first name"
          type="text"
        />
        <label for="last_name">Last name: </label>
        <input
          id="last_name"
          name="last_name"
          placeholder="last name"
          type="text"
        />
        <label for="username">Email</label>
        <input id="username" name="username" placeholder="Email" type="email" />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        <button>Sign Up</button>
        <strong class="text-center">Already have an account? <a href="/login">Login</a></strong>
      </form>
    </div>
  </body>
</html>
