html {
  height: -webkit-fill-available;
}

body {
  padding: 20px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(17 24 39);
  color: #fff;
}

a {
  color: #00b7ff;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: 2px solid black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.form-container {
  width: 70%;
  max-width: 600px;
  margin: 20px auto;
}

.form-standard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  height: 600px;
  margin: 0 auto;
  align-items: stretch;
}

.msg-board {
  display: flex;
  flex-direction: column;
  background: rgb(27 40 67);
  height: 600px;
  position: relative;
  padding: 10px;
  border-radius: 8px;
}

.messages-wrapper {
  display: flex;
  flex-direction: column;
  background: rgb(27 40 67);
  overflow: overlay;
}

.msg-card{
  position:relative;
  border-bottom: .5px #7b97cb solid;
  padding: 10px 15px;
}

.delete-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 15px;
}

.trash-icon{
  width: 22px;
}

.delete-btn:hover{
  transform: scale(1.1);
}

.new-msg-container {
  position: sticky;
  width: -webkit-fill-available;
  bottom: 10px;
  margin: 15px 0;
}

.new-msg-form {
  display: flex;
  width: 98%;
  gap: 10px;
}

.new-msg-input {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  width: 70%;
  max-width: 800px;
}

.blue-btn {
  background: #299eee;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

.form-bottom-options {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.text-center {
  text-align: center;
}



